body {
    background-image: url(study.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 95vw;
}

.main-elements-control {
    background-color: #ffffffcc;
    width: 35em;
    height: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 30px 30px rgba(0,0,0,0.22);
}
h1 {
    font-size: 2.4em;
}

.main-elements-control input {
    height: 2em;
    width: 15em;
    font-size: 1em;
    border: 3px solid #2d2c34;
}

.main-elements-control button {
    height: 2.5em;
    font-size: 1em;
    width: 5em;
    color: black;
    background: white;
    border: 3px solid black;
    margin-left: 0.2em;
}

#content-page {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    height: 80%;
    overflow-y: auto;
}

.task-container {
    display: flex;
    align-items: center;
    background-color: #ffffffcc;
    height: 4em;
    margin-bottom: 1.2em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 30px 30px rgba(0,0,0,0.22);
}
.task-container:hover {
    box-shadow: 0 14px 28px rgba(241, 172, 36, 0.4), 0 30px 30px rgba(241, 172, 36, 0.4);
}

.task-container input[type="checkbox"] {
    height: 2.5em;
    width: 2.5em;
    margin-left: 1em;
}

.task-container input[type="checkbox"]:hover {
    cursor: pointer;
    box-shadow: 0 0 0 2px #000000 inset;
}
.task-container input[type="text"] {
    height: 2.5em;
    width: 15em;
    font-size: 1em;
    margin-left: 1em;
}
.text-task {
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 40px;
    font-size: 1.5em;
    margin-top: 10px;
}

.done-text {
    text-decoration: line-through;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.7);
}

img {
    margin-left: 10px;
    height: 45px;
    width: 45px;
}

.entry {  
    display: flex;
    align-items: center;
}


@media (max-device-width: 1200px) {
    body {
        background-size: 140%;
    }
}

@media (max-device-width: 800px) {
    body {
        background-size: 200%;
    }
}

@media (max-device-width: 500px) {
    body {
        background-size: 410%;
    }
    
    .main-elements-control {
        width: 57em;
        height: 22em;
    }
    
    h1 {
        font-size: 6em;
    }
    .main-elements-control input {
        height: 2em;
        width: 13em;
        font-size: 2.3em;
    }  
    .main-elements-control button {
        height: 2.5em;
        font-size: 2em;
        width: 4em;
    }
    .task-container {
        height: 7em;
    }
    .task-container input[type="checkbox"] {
        height: 6em;
        width: 6em;
        background-color: black;
    }   
    .text-task {
        font-size: 3.5em;
        color: black;
    }
    
    .done-text {
        color: rgba(0, 0, 0, 0.3);
        text-decoration: line-through;
        font-size: 3.5em;
    }
    
    img {
        margin-left: 35px;
        height: 7em;
        width: 7em;
    }
}